<h1>About</h1>

<p>ZdsLogic Technologies was founded by Richard K. Campion in
	January of 2014. His Software Development journey began as a COBOL
	programmer and he somehow survived the PC revolution and C was king.
	Richard has worked within teams of software developers programming in
	Java, TypeScript, C++ and C.</p>

<p>
	Games <br> Project: Space Invaders built with Phaser 3 Author:
	Trung Vo (trungk18@gmail.com) Homepage:
	https://github.com/trungk18/space-invaders-phaser-3 ----- Last
	Modified: Monday, 10th August 2020 10:51:21 am Modified By: Trung Vo
	(trungk18@gmail.com>) ----- Copyright 2020 Trung Vo
</p>

<div>

	<ul>

		<li><a class="externallink" target="_blank" rel="nofollow"
			href="https://github.com/trungk18/space-invaders-phaser-3">Space
				Invaders</a></li>

		<li><a class="externallink" target="_blank" rel="nofollow"
			href="https://github.com/trungk18/angular-tetris">Tetris</a></li>

		<li><a class="externallink" target="_blank" rel="nofollow"
			href="https://github.com/digitsensitive/phaser3-typescript">Phaser
				3 Game Examples</a></li>



	</ul>

</div>

<ul>
	<li><a class="externallink" target="_blank" rel="nofollow"
		href="http://www.richardcampion.com/">Richard K.Campion</a></li>
	<li><a class="externallink" target="_blank" rel="nofollow"
		href="https://twitter.com/zdslogic">ZdsLogic @Twitter <img
			src="assets/common/img/twitter-button.png" alt="ZdsLogic on Twitter"></a></li>
	<li><a class="externallink" target="_blank" rel="nofollow"
		href="https://facebook.com/zdslogic">ZdsLogic @Facebook <img
			src="assets/common/img/facebook-button.png"
			alt="ZdsLogic on Facebook"></a></li>
	<li><a class="externallink" target="_blank" rel="nofollow"
		href="http://www.linkedin.com/in/richardcampion">Richard K.
			Campion On Linked-In <img
			src="assets/common/img/linked-in-button.png"
			alt="Richard K. Campion on LinkedIn">
	</a></li>
</ul>