<nav class="navbar navbar-light">

  <!-- Show this for logged out users -->
  
  <!--  
  <div *ngIf="!isUserLoggedIn">
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <button class="btn btn-primary" (click)="login()" type="submit">Login</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="redirectToRegister()" type="submit">Register</button>
      </li>
    </ul>
  </div>
-->
  <!-- Show this for logged in users -->
  <!-- <div *ngIf="isUserLoggedIn"> -->
  
<!--
  <div [hidden]="!isUserLoggedIn">
    <ul class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link" routerLink="/settings" routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile', currentUser.userName]" routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          {{ currentUser.userName }}
        </a>
      </li>

      <li class="nav-item">
        <button class="btn btn-primary" (click)="logout()" type="submit">Logout</button>
      </li>

    </ul>
    <ng-chat #ngChatInstance
      [adapter]="adapter" [userId]="userId" [title]="title" [isCollapsed]="isCollapsed"
      [browserNotificationsEnabled]="browserNotificationsEnabled" [emojisEnabled]="emojisEnabled" [fileUploadUrl]=fileUploadUrl> </ng-chat>
  </div>

-->

</nav>

<mat-toolbar color="primary">
  <!--  <div fxHide.gt-xs> -->
  <div>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">Home</a>
  </div>
  
<!-- 
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li *ngIf="userService.isUserAuthorized(['ROLE_ADMIN'])" class="nav-item">
        <a class="nav-link" routerLink="/users/users">Users</a>
      </li>
    </ul>
  </div>
-->
</mat-toolbar>