<app-layout>

  <table style="width:100%">
    <tr style="width:100%">

      <td>

        <h1>
          <a href="http://www.zdslogic.com" target="_blank"> <img src="assets/ZdsLogic_Technologies_Small.png"
              alt="ZdsLogic Technologies">
          </a>
        </h1>

      </td>
      <td style="width:25%" valign="top">

        {{date}}

        <div style="width:165px;height:165px;" valign="top">

          <div id="clock" class="clock">

            <div id="clock-back"></div>

            <div id="quarters">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>

            <div id="five-minutes">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>

            <div id="hours-hand"></div>
            <div id="minutes-hand"></div>
            <div id="seconds-hand"></div>
            <div id="center-cap"></div>

          </div>

        </div>

      </td>
    </tr>

  </table>

  <mat-sidenav-container>
    <mat-sidenav mode="side" #sidenav role="navigation">
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <main style="width:100%">
        <table style="width:100%">
          <tr style="width:100%">
            <td style="width:100%" valign="top">
              <router-outlet></router-outlet>
            </td>
          </tr>
        </table>
      </main>

    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-footer></app-footer>

</app-layout>